**/log
**/logs
*.zip
*.gz
*.tgz
spool
*.eml
*.log
**/src/
src
CVS
clients/dharristours/invoices/
clients/dharristours/incoming/
tools/fullcalendar
izzy.php
name-ideas.txt
where/latest.json
.env
neoplan/
.auth.php
.dbconfig
.auth
hacks-latest.js
