body {
    margin: 0;
    padding: 0;
    font-family: "Lexend",Arial,"Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
  }

  #calendar {
    margin: .5em auto 0px auto;
    display:inline-block;
    width: 100%;
    border-bottom:3px groove #ccc; 
  }
  .left {
     position:relative; 
     width:400px;
     display:inline-block;
     float:left;
     margin-top:0em;
     margin-right:1em;
  }
  th.fc-slot {
   background-color:#222;
   color:#eee;
   text-align:center;
  }
  th.fc-slot a {
   color:#eee;
   font-family: "Lexend","Helvetica Neue","Verdana",sans-serif;
   font-weight:500;
   text-decoration:none;
  }
  #tinycal {
    width:400px;
  }
  #details {
     margin:0 0 1em 0;
     padding: 0.5em 0 0 0;
     flex-shrink: 1;
  }
  #detail {
    overflow-y:scroll;
    position:relative;

  }
  .jobs {
    position:relative;
    width:100%;
  }
  .jobs th {
    position: -webkit-sticky;
    position: sticky;
    top:0;
    background-color:#222;
    color:#eee;
  }
  .dp-col-header, .dp-permanent {
     font-size:1em;
  }
  .dp-day, .dp-today {
  }
  #details h1 { 
   text-align:center;
   margin:0;
   background-color:#f5f5f5;
   font-weight:normal;
   padding:.5em .5em;
   min-width:5em;
   font-size:1.7em;
   display:inline-block;
  }
  #jobdetail th {
    text-align: right;
    padding: .3em;
    border-right: 1px solid #ccc;
    vertical-align:top;
    font-weight:normal;
  }
  #jobdetail td {
   padding:.3em;
   vertical-align:top;
  }
  #jobdetail {
   border-collapse:collapse;
   max-height:100%;
   font-size:1.2em;
   line-height:1.5em;
   overflow-y: scroll;
  }
  .left {
    
  }
.tabs{
  overflow:hidden;
  clear:both;

}
.tabs ul{
  list-style-type:none;
  bottom: -1px;
  position:relative;
  overflow:hidden;
  margin-bottom:0px;
}
.tabs li{
  float:left;
}

.tabs a{
  display:inline-block;
  padding:5px 10px;
  background-color: #EEE;
  color: #000;
  text-decoration: none;
  border-top:1px solid #CCC;
  border-left:1px solid #DDD;
  border-right:1px solid #DDD;
  font:13px/18px verdana,arial,sans-serif;
  border-bottom:1px solid #CCC;
  border-radius:4px;
  position:relative;
  top:4px;
}
.tabs a.active{
  background-color: #fff;
  border-bottom:1px solid #fff;
  position:relative;
  top:1px;
  z-index:999;
  box-shadow:-2px -1px 2px rgba(0,0,0,.3);
}
.tabs a.active.joblist {
  box-shadow:2px -1px 2px rgba(0,0,0,.3);
}
#joblist tbody {
   overflow:scroll;
   height:auto;
}
.tabs div {
  clear: both;
  border:1px solid #CCC;
  padding:5px;
  font-family:"Lexend","Helvetica Neue","Verdana",sans-serif;
  font-size:14px;
  background-color: #fff;
  overflow:scroll;
  display:none;
}
div#joblist {
   height:100%;
   display:flex;
   flex-direction: column;
}

.fc .fc-timeline-header-row-chrono div.fc-timeline-slot-frame {
   justify-content: center;
}

@media screen and (max-width: 992px) {
   #calendar {
      width:100%;
      max-width:100%;
   }
   .left {
    position:absolute;
    width:100%;
    top:55rem;
   }
   #tinycal {
      width:100%;
      font-size:64px;
   }
   #details {
      width:100%;
      font-size:28px;
   }
   .tabs div {
      font-size:28px;  
   }
   .tabs a {
      font-size:32px;
   }
   div.dp-permanent {
      width:100%;
   }
   div.dp {
      max-height:45rem;
   }
}
