*, *:before, *:after {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.bglogo {
  /* background-color: #FFFFFF; */
  background-image: url('data:image/svg+xml,<svg id="bus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1500px" height="1000px"><path fill-rule="evenodd" fill="rgb(7, 9, 8)" d="M671.692,1.813 C570.943,0.977 158.474,0.570 141.233,1.289 C123.992,2.008 102.315,12.129 91.394,17.136 C86.541,25.714 76.162,46.259 76.162,46.259 C76.162,46.259 19.585,202.084 19.258,205.693 C-6.460,225.469 -3.040,249.431 12.846,258.466 C38.615,266.601 57.911,263.574 82.450,266.127 C87.912,254.637 82.943,250.505 98.839,231.652 C114.735,212.798 120.155,208.353 141.991,201.006 C181.411,199.786 192.221,209.234 201.000,218.000 C213.086,230.068 212.366,249.402 198.914,277.619 C320.829,277.619 442.781,277.619 564.696,277.619 C576.745,240.469 588.159,228.274 609.533,208.668 C629.564,200.648 654.727,196.499 671.202,204.837 C701.738,219.034 692.108,228.663 686.658,273.789 C716.785,269.736 765.026,221.743 742.180,208.668 C757.841,185.167 765.645,158.877 748.092,147.377 C734.808,136.934 716.783,132.701 677.321,120.563 C653.479,99.845 650.923,76.038 628.333,55.442 C636.371,55.442 644.412,55.442 652.450,55.442 C658.864,37.567 665.279,19.688 671.692,1.813 ZM511.143,124.394 C518.473,103.966 525.804,83.531 533.134,63.103 C603.324,59.934 640.322,75.617 635.750,124.394 C594.219,124.394 552.675,124.394 511.143,124.394 ZM480.879,63.103 C473.092,84.808 465.302,105.519 457.514,127.224 C425.361,127.224 393.198,127.224 361.044,127.224 C370.172,105.519 379.301,84.808 388.429,63.103 C419.242,63.103 450.065,63.103 480.879,63.103 ZM364.311,63.103 C356.524,84.808 348.734,103.519 340.946,125.224 C309.251,123.947 277.546,125.670 245.851,124.394 C254.520,103.966 263.192,83.531 271.861,63.103 C302.674,63.103 333.497,63.103 364.311,63.103 ZM247.743,63.103 C239.956,84.808 232.166,103.519 224.378,125.224 C192.683,123.947 160.978,125.670 129.283,124.394 C137.952,103.966 146.624,83.531 155.293,63.103 C186.106,63.103 216.929,63.103 247.743,63.103 Z"/><path fill-rule="evenodd" stroke="rgb(7, 9, 8)" stroke-width="36px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M159.222,221.735 C177.760,222.306 183.698,244.687 172.484,271.725 C161.269,298.762 137.150,320.217 118.612,319.646 C100.073,319.074 94.136,296.693 105.350,269.656 C116.564,242.618 140.683,221.163 159.222,221.735 Z"/><path fill-rule="evenodd" stroke="rgb(7, 9, 8)" stroke-width="36px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M647.222,219.735 C665.760,220.306 671.698,242.687 660.484,269.725 C649.269,296.762 625.150,318.217 606.612,317.646 C588.073,317.074 582.136,294.693 593.350,267.656 C604.564,240.618 628.683,219.163 647.222,219.735 Z"/></svg>');
  /* background-attachment: fixed | scroll; */
  /* background-size: auto | cover | contain | 500px 250px; */
  /* background-position: center | right 30px bottom 15px; */
  /* background-repeat: no-repeat | repeat | repeat-x; */
  /* background-origin: border-box | padding-box | content-box; */
  /* background-clip: border-box | padding-box | content-box; */
  /* background-blend-mode: multiply | screen | overlay; */
}

#bus {
  transform-origin: -120px 100px;
  transform: scale(0.3);
  opacity: 0.2;
  position: absolute;
}

html, body {
  background: #28334A;
  min-height: 100vh;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

.feedback {
  position: absolute;
  opacity: 0;
}

.table {
  display: table;
  width: 100%;
  position: absolute;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

#ticket {
  width: 350px;
  background: #fff;
  margin: 0 auto;
}
#ticket:after {
  content: "";
  display: block;
  position: relative;
  clear: both;
}

#ticket > .row:first-child:before, #ticket > .row:first-child:after {
  background-color: #28334A;
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  bottom: 0;
  margin-bottom: -10px;
}
#ticket > .row:first-child:before {
  left: 0;
  margin-left: -10px;
}
#ticket > .row:first-child:after {
  right: 0;
  margin-right: -10px;
}

.logo {
  width: 160px;
}

.row {
  position: relative;
  padding: 20px;
}
.row.perforated {
  border-bottom: 1px dashed #ddd;
}
.row.destinations:after, .row.normRow:after {
  content: "";
  clear: both;
  display: block;
}

.label {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2 !important;
}

.airport {
  font-size: 32px;
}

.city {
  font-size: 12px;
  text-transform: uppercase;
}

.right {
  float: right;
  text-align: right;
}

.left {
  float: left;
  text-align: left;
}

svg#plane {
  width: 30px;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  margin-top: 15px;
  opacity: 0.5;
  display: inline-block;
}

.smalltext {
  padding: 20px;
  font-size: 10px;
  opacity: 0.6;
}

.col6 {
  float: left;
  width: 50%;
  font-size: 21px;
  line-height: 1.5;
}

.col {
  font-size: 21px;
}

.normRow {
  padding-bottom: 0;
}

#qr {
  float: right;
  width: 80px;
  position: relative;
  right: -5px;
  bottom: 5px;
  margin-left: 10px;
}

.sparkler {
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 20px;
}
.sparkler .square {
  width: 12.5%;
  height: 12.5%;
  background-color: grey;
  float: left;
  transition: opacity 2.5s, background-color 5s;
}

