/* Custom Stylesheet Settings - We Love Version Control! */
body { 
background: #fdfeff;
font-size:1em;
}
h1 { text-align:center; }
p { }
.claro .dijitAccordionContainer .dijitAccordionContainer-child {
   background-color:#eee;
}
.nav { color: #333; }
.ui-jqgrid .ui-jqgrid-bdiv {
    font-size:1em;
}
#logoImage:hover {
   -webkit-animation-name: none;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-duration: 0s;

   -moz-animation-name: none;
   -moz-animation-timing-function: linear;
   -moz-animation-iteration-count: infinite;
   -moz-animation-duration: 0s;
}
#searchfield form {
  display: inline-block;
  background: #eeefed;
  padding: 0;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0 0 0;
}
#searchfield form .biginput {
  width: 600px;
  height: 40px;
  padding: 0 10px 0 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 1.5em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#searchfield form .biginput:focus {
  color: #858585;
}
