/* Custom Stylesheet Settings - We Love Version Control! */
body { 
background: #fdfeff;
font-size:1em;
}
h1 { text-align:center; }
p { }
.claro .dijitAccordionContainer .dijitAccordionContainer-child {
background: -moz-linear-gradient(top,  #fdfeff 0%, #f5faff 40%, #e0f0ff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfeff), color-stop(40%,#f5faff), color-stop(100%,#e0f0ff));
background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 40%,#e0e0e0 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 40%,#e0e0e0 100%);
background: -ms-linear-gradient(top,  #fdfeff 0%,#f5f5f5 40%,#e0f0ff 100%);
background: linear-gradient(top,  #ffffff 0%,#f5f5f5 40%,#d3d3d3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfefd', endColorstr='#e0f0ff',GradientType=0 );
}

.ui-jqgrid .ui-jqgrid-bdiv {
    font-size:1em;
}
#logoImage:hover {
   -webkit-animation-name: none;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-duration: 0s;

   -moz-animation-name: none;
   -moz-animation-timing-function: linear;
   -moz-animation-iteration-count: infinite;
   -moz-animation-duration: 0s;
}
#searchfield form {
  display: inline-block;
  background: #eeefed;
  padding: 0;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0 0 0;
}
#searchfield form .biginput {
  width: 600px;
  height: 40px;
  padding: 0 10px 0 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 1.5em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#searchfield form .biginput:focus {
  color: #858585;
}
