.terms-wrapper {
    line-height: 18px;
    font-size: 12px;
}

.login-box, .register-box {
    max-width: 468px;
    width: 100%;
}

.submit-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: white;
    opacity: 0.4;
    display: none;
    cursor: progress;
}
.submitting .submit-overlay {
    display: block;
}

.register-fail, .register-success, .register-exists {
    display: none;
}
.message-fail, .message-success {
    display: none;
}

.card-header.no-left-padd {
    padding-left: 0;
}

.message-content {
    position: relative;
}
.message-content .read-icon {
    position: absolute;
    top: 5px;
    right: 5px;
}
.read-status.read .message-content .read-icon {
    display: none;
}
.read-status.unread .message-content .read-icon {
    transition: opacity 3s ease-in-out;
}
.read-status.unread .message-content .read-icon.fa-eye-slash {
    opacity: 0.5;
}
.read-status.unread.reading .message-content .read-icon.fa-eye-slash {
    opacity: 0;
}
.read-status.unread .message-content .read-icon.fa-eye {
    opacity: 0;
}
.read-status.unread.reading .message-content .read-icon.fa-eye {
    opacity: 1;
}
