.terms-wrapper {
    line-height: 18px;
    font-size: 12px;
}

.login-box, .register-box {
    max-width: 468px;
    width: 100%;
}

.submit-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: white;
    opacity: 0.4;
    display: none;
    cursor: progress;
}
.submitting .submit-overlay {
    display: block;
}

.register-fail, .register-success {
    display: none;
}