/* CSS Sprite Icon Definition */
.simpleIcon {
   height:48px;
   width:48px;
   background-image:url(/lib/css/icons-black.png);
   display:inline-block;
   margin:4px;
   outline: 2px dotted #333;
   background-color: transparent;
}
span:hover { background-color:#ffffdd; }
.icon-refresh { background-position: 0px 0px; }
.icon-redo { background-position: 48px 0px; }
.icon-loopback { background-position: 96px 0px; }
.icon-squiggle { background-position: 144px 0px; }
.icon-shuffle { background-position: 192px 0px; }
.icon-magnify { background-position: 240px 0px; }
.icon-map-marker { background-position: 288px 0px; }
.icon-chat { background-position: 336px 0px; }
.icon-chat-2 { background-position: 384px 0px; }
.icon-medical { background-position: 432px 0px; }
.icon-coffee { background-position: 0px 48px; }
.icon-gameplan { background-position: 48px 48px; }
.icon-walk { background-position: 96px 48px; }
.icon-map { background-position: 144px 48px; }
.icon-index-cards { background-position: 192px 48px; }
.icon-piano { background-position: 240px 48px; }
.icon-sliders { background-position: 288px 48px; }
.icon-widescreen { background-position: 336px 48px; }
.icon-badge { background-position: 384px 48px; }
.icon-chicken { background-position: 432px 48px; }
.icon-clock { background-position: 0px 96px; }
.icon-bug { background-position: 48px 96px; }
.icon-user { background-position: 96px 96px; }
.icon-group { background-position: 144px 96px; }
.icon-navigation { background-position: 192px 96px; }
.icon-balloon { background-position: 240px 96px; }
.icon-bow-and-arrow { background-position: 288px 96px; }
.icon-controller { background-position: 336px 96px; }
.icon-todo { background-position: 384px 96px; }
.icon-coat-hanger { background-position: 432px 96px; }
.icon-piggy-bank { background-position: 0px 144px; }
.icon-eye { background-position: 48px 144px; }
.icon-headphones { background-position: 96px 144px; }
.icon-landscape { background-position: 144px 144px; }
.icon-stats { background-position: 192px 144px; }
.icon-id-card { background-position: 240px 144px; }
.icon-bullhorn { background-position: 288px 144px; }
.icon-food { background-position: 336px 144px; }
.icon-moon { background-position: 384px 144px; }
.icon-sock { background-position: 432px 144px; }
.icon-bone { background-position: 0px 192px; }
.icon-golf { background-position: 48px 192px; }
.icon-target { background-position: 96px 192px; }
.icon-dice { background-position: 144px 192px; }
.icon-tower { background-position: 192px 192px; }
.icon-ghost { background-position: 240px 192px; }
.icon-ufo { background-position: 288px 192px; }
.icon-viking { background-position: 336px 192px; }
.icon-hockeymask { background-position: 384px 192px; }
.icon-tractor { background-position: 432px 192px; }
.icon-presentation { background-position: 0px 240px; }
.icon-scales { background-position: 48px 240px; }
.icon-flags { background-position: 96px 240px; }
.icon-tag { background-position: 144px 240px; }
.icon-gradhat { background-position: 192px 240px; }
.icon-lamp { background-position: 240px 240px; }
.icon-wine-bottle { background-position: 288px 240px; }
.icon-liquor-bottle { background-position: 336px 240px; }
.icon-martini { background-position: 384px 240px; }
.icon-persondot { background-position: 432px 240px; }
.icon-gavel { background-position: 0px 288px; }
.icon-popsicle { background-position: 48px 288px; }
.icon-doghouse { background-position: 96px 288px; }
.icon-windmill { background-position: 144px 288px; }
.icon-tags { background-position: 192px 288px; }
.icon-sailboat { background-position: 240px 288px; }
.icon-telescope { background-position: 288px 288px; }
.icon-rolodex { background-position: 336px 288px; }
.icon-guitar { background-position: 384px 288px; }
.icon-necktie { background-position: 432px 288px; }
.icon-bowtie { background-position: 0px 336px; }
.icon-controlpad { background-position: 48px 336px; }
.icon-wrench { background-position: 96px 336px; }
.icon-wrench-2 { background-position: 144px 336px; }
.icon-voicemail { background-position: 192px 336px; }
.icon-line-chart { background-position: 240px 336px; }
.icon-voicemail-2 { background-position: 288px 336px; }
.icon-calculator { background-position: 336px 336px; }
.icon-receipt { background-position: 384px 336px; }
.icon-glasses-1 { background-position: 432px 336px; }
.icon-glasses-2 { background-position: 0px 384px; }
.icon-glasses-3 { background-position: 48px 384px; }
.icon-newspaper { background-position: 96px 384px; }
.icon-upload-photo { background-position: 144px 384px; }
.icon-upload-photo-2 { background-position: 192px 384px; }
.icon-8ball { background-position: 240px 384px; }
.icon-bar-chart { background-position: 288px 384px; }
.icon-butterfly { background-position: 336px 384px; }
.icon-sun { background-position: 384px 384px; }
.icon-pricetag { background-position: 432px 384px; }
.icon-eyedropper { background-position: 0px 432px; }
.icon-imac { background-position: 48px 432px; }
.icon-macbook { background-position: 96px 432px; }
.icon-ipad { background-position: 144px 432px; }
.icon-building { background-position: 192px 432px; }
.icon-city { background-position: 240px 432px; }
.icon-notepad { background-position: 288px 432px; }
.icon-envelope { background-position: 336px 432px; }
.icon-stickynote { background-position: 384px 432px; }
.icon-hammer { background-position: 432px 432px; }
.icon-messenger-bag { background-position: 0px 480px; }
.icon-genie-lamp { background-position: 48px 480px; }
.icon-warning { background-position: 96px 480px; }
.icon-printer { background-position: 144px 480px; }
.icon-ruler { background-position: 192px 480px; }
.icon-pencil { background-position: 240px 480px; }
.icon-paint-roller { background-position: 288px 480px; }
.icon-plant { background-position: 336px 480px; }
.icon-gear { background-position: 384px 480px; }
.icon-bank { background-position: 432px 480px; }
.icon-collection { background-position: 0px 528px; }
.icon-credit-card { background-position: 48px 528px; }
.icon-location-arrow { background-position: 96px 528px; }
.icon-note-2 { background-position: 144px 528px; }
.icon-barcode { background-position: 192px 528px; }
.icon-radiation { background-position: 240px 528px; }
.icon-card-diamonds { background-position: 288px 528px; }
.icon-card-spades { background-position: 336px 528px; }
.icon-card-hearts { background-position: 384px 528px; }
.icon-gear2 { background-position: 432px 528px; }
.icon-card-clubs { background-position: 0px 576px; }
.icon-skull { background-position: 48px 576px; }
.icon-skull-n-bones { background-position: 96px 576px; }
.icon-bird { background-position: 144px 576px; }
.icon-gift { background-position: 192px 576px; }
.icon-weather { background-position: 240px 576px; }
.icon-bandaid { background-position: 288px 576px; }
.icon-planet { background-position: 336px 576px; }
.icon-star { background-position: 384px 576px; }
.icon-heart { background-position: 432px 576px; }
.icon-key { background-position: 0px 624px; }
.icon-ipod { background-position: 48px 624px; }
.icon-iphone { background-position: 96px 624px; }
.icon-cabinet { background-position: 144px 624px; }
.icon-coffee { background-position: 192px 624px; }
.icon-shopping { background-position: 240px 624px; }
.icon-toolbox { background-position: 288px 624px; }
.icon-suitcase { background-position: 336px 624px; }
.icon-airplane { background-position: 384px 624px; }
.icon-spraycan { background-position: 432px 624px; }
.icon-inbox { background-position: 0px 672px; }
.icon-picture-frame { background-position: 48px 672px; }
.icon-photos { background-position: 96px 672px; }
.icon-film-roll { background-position: 144px 672px; }
.icon-shoebox { background-position: 192px 672px; }
.icon-movie-1 { background-position: 240px 672px; }
.icon-movie-2 { background-position: 288px 672px; }
.icon-fuel { background-position: 336px 672px; }
.icon-fork-and-knife { background-position: 384px 672px; }
.icon-battery { background-position: 432px 672px; }
.icon-beaker { background-position: 0px 720px; }
.icon-outlet { background-position: 48px 720px; }
.icon-pine-tree { background-position: 96px 720px; }
.icon-house { background-position: 144px 720px; }
.icon-lock { background-position: 192px 720px; }
.icon-network { background-position: 240px 720px; }
.icon-cloud { background-position: 288px 720px; }
.icon-download { background-position: 336px 720px; }
.icon-bookmark { background-position: 384px 720px; }
.icon-flag { background-position: 432px 720px; }
.icon-signpost { background-position: 0px 768px; }
.icon-brightness { background-position: 48px 768px; }
.icon-contrast { background-position: 96px 768px; }
.icon-runner { background-position: 144px 768px; }
.icon-zap { background-position: 192px 768px; }
.icon-note { background-position: 240px 768px; }
.icon-microphone { background-position: 288px 768px; }
.icon-tshirt { background-position: 336px 768px; }
.icon-paperclip { background-position: 384px 768px; }
.icon-display { background-position: 432px 768px; }
.icon-tv { background-position: 0px 816px; }
.icon-compass { background-position: 48px 816px; }
.icon-pin { background-position: 96px 816px; }
.icon-radar { background-position: 144px 816px; }
.icon-location { background-position: 192px 816px; }
.icon-phone { background-position: 240px 816px; }
.icon-baby { background-position: 288px 816px; }
.icon-ekg { background-position: 336px 816px; }
.icon-stopwatch { background-position: 384px 816px; }
.icon-medical-bag { background-position: 432px 816px; }
.icon-shopping-cart { background-position: 0px 864px; }
.icon-dashboard { background-position: 48px 864px; }
.icon-dog-paw { background-position: 96px 864px; }
.icon-calendar { background-position: 144px 864px; }
.icon-lightbulb { background-position: 192px 864px; }
.icon-trophy { background-position: 240px 864px; }
.icon-camera { background-position: 288px 864px; }
.icon-wine-glass { background-position: 336px 864px; }
.icon-beer-mug { background-position: 384px 864px; }
.icon-dumbell { background-position: 432px 864px; }
.icon-life-buoy { background-position: 0px 912px; }
.icon-beaker-2 { background-position: 48px 912px; }
.icon-test-tube { background-position: 96px 912px; }
.icon-thermometer { background-position: 144px 912px; }
.icon-pill { background-position: 192px 912px; }
.icon-equalizer { background-position: 240px 912px; }
.icon-book { background-position: 288px 912px; }
.icon-puzzle { background-position: 336px 912px; }
.icon-palette { background-position: 384px 912px; }
.icon-umbrella { background-position: 432px 912px; }
