/* Custom Stylesheet Settings */
<style>
#circularG{
position:relative;
width:128px;
height:128px}

.circularG{
position:absolute;
background-color:#FF9D00;
width:29px;
height:29px;
-webkit-border-radius:19px;
-moz-border-radius:19px;
-webkit-animation-name:bounce_circularG;
-webkit-animation-duration:1.04s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-moz-animation-name:bounce_circularG;
-moz-animation-duration:1.04s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear}

#circularG_1{
left:0;
top:50px;
-webkit-animation-delay:0.39s;
-moz-animation-delay:0.39s}

#circularG_2{
left:14px;
top:14px;
-webkit-animation-delay:0.52s;
-moz-animation-delay:0.52s}

#circularG_3{
top:0;
left:50px;
-webkit-animation-delay:0.65s;
-moz-animation-delay:0.65s}

#circularG_4{
right:14px;
top:14px;
-webkit-animation-delay:0.78s;
-moz-animation-delay:0.78s}

#circularG_5{
right:0;
top:50px;
-webkit-animation-delay:0.9099999999999999s;
-moz-animation-delay:0.9099999999999999s}

#circularG_6{
right:14px;
bottom:14px;
-webkit-animation-delay:1.04s;
-moz-animation-delay:1.04s}

#circularG_7{
left:50px;
bottom:0;
-webkit-animation-delay:1.1700000000000002s;
-moz-animation-delay:1.1700000000000002s}

#circularG_8{
left:14px;
bottom:14px;
-webkit-animation-delay:1.3s;
-moz-animation-delay:1.3s}

@-webkit-keyframes bounce_circularG{
0%{
-webkit-transform:scale(1)}

100%{
-webkit-transform:scale(.3)}

}

@-moz-keyframes bounce_circularG{
0%{
-moz-transform:scale(1)}

100%{
-moz-transform:scale(.3)}

}

</style>
<div id="circularG">
<div id="circularG_1" class="circularG">
</div>
<div id="circularG_2" class="circularG">
</div>
<div id="circularG_3" class="circularG">
</div>
<div id="circularG_4" class="circularG">
</div>
<div id="circularG_5" class="circularG">
</div>
<div id="circularG_6" class="circularG">
</div>
<div id="circularG_7" class="circularG">
</div>
<div id="circularG_8" class="circularG">
</div>
</div>
</div>
body {

background: rgb(212,228,239); /* Old browsers */
background: -moz-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(212,228,239,1)), color-stop(100%,rgba(134,174,204,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(212,228,239,1) 0%,rgba(134,174,204,1) 100%); /* W3C */}